@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~assets/fonts/OpenSans-Light.ttf') format('truetype');
}

body {
  background-color: black;
}

.menu-sidebar {
  display: inline;
}

.bg-grey {
  background-color: #444;
}

.bg-grey-medium {
  background-color: #6F7777;
}

.bg-grey-green {
  background-color: #B6CACB;
}

.title-line {
  width: 30px;
  height: 3px;
}